/* new style */

header {
  display: flex;
  align-items: center;
  background-color: #eee;
  height: 5vh;
  padding: 1vh;
}

.logo {
  height: 100%;
  margin-right: 10px;
}

h1 {
  color: navy;
  font-weight: bold;
  font-size: 35px;
}

main {
  display: flex;
}

article {
  background-color: wheat;
  height: 88vh;
  width: 80vw;
  padding: 1%;
}

aside {
  background-color: palegreen;
  height: 88vh;
  width: 20vw;
  padding: 1%;
}

footer {
  background-color: #eee;
  height: 1vh;
  padding: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* old style */

p {
  color: green;
}

h3 {
  color: steelblue;
  font-weight: bold;
}

li {
  color: red;
  border: 2.5px dotted orange;
  padding: 2px;
}

img {
  height: 200px;
}

div {
  font-weight: bold;
  color: steelblue;
}

h2 {
  color: orange;
  font-weight: 100px;
}

body {
  background-color: lightblue;
}